# Dependencies 
node_modules/ 
frontend/node_modules/ 
frontend/dist/ 
 
# Environment variables 
.env 
backend/.env 
frontend/.env 
 
# Python 
venv/ 
backend/venv/ 
__pycache__/ 
*.pyc 
*.pyo 
 
# Django 
backend/staticfiles/ 
*.sqlite3 
 
# OS files 
.DS_Store 
Thumbs.db 
